@font-face {
  font-family: "Asap";

  src: url("assets/fonts/Asap-Regular.woff2");
}

@font-face {
  font-family: "LucidaSans";

  src: url("assets/fonts/LucidaSans-Italic.woff2");
}

@font-face {
  font-family: "Open Sans";

  src: url("assets/fonts/OpenSans-Regular.woff2");
}

@font-face {
  font-family: "PTSans";

  src: url("assets/fonts/PTSans-Regular.woff2");
}

@font-face {
  font-family: "PT Sans Narrow";

  src: url("assets/fonts/PTSans-Narrow.woff2");
}

@font-face {
  font-family: "Segoe UI";

  src: url("assets/fonts/SegoeUI.woff2");
}

@font-face {
  font-family: "Segoe Wp";

  src: url("assets/fonts/SegoeWP.woff2");
}

@font-face {
  font-family: "Segoe WP Light";

  src: url("assets/fonts/SegoeWP-Light.woff2");
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 1300px;
  min-height: 100vh;
  margin: auto;

  text-transform: uppercase;

  background: url("assets/images/Layer_20.jpg");
  background-repeat: no-repeat;
  background-position: top;
}

/* =================================================== header */

.theyalow {
  display: flex;
  flex-direction: row;
  height: 168px;
}

.top-left {
  display: flex;
  flex-basis: 560px;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 140px;
}

.headline {
  padding: 0 0 19px 5px;

  font-style: italic;
  font-size: 41px;
  font-family: "Lucida Sans", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.41px;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.42);
}

img[alt="logo"] {
  padding: 0 0 30px 0;
}

/* ================================================ navigation */

.navbar {
  display: flex;
  align-self: center;
  width: 453px;
  height: 41px;

  font-weight: 400;
  font-size: 17px;
  font-family: "Segoe WP", sans-serif;
  color: #9b7d08;
  letter-spacing: 0.17px;

  background-color: rgba(245, 197, 6, 0.294);
}

.navbar ul {
  position: relative;
  top: 7px;
  left: 8px;

  display: flex;
  justify-content: space-around;
  width: 453px;
  height: 41px;

  -webkit-box-shadow: -4px -4px 0 0 rgba(241, 194, 6, 0.294);
     -moz-box-shadow: -4px -4px 0 0 rgba(241, 194, 6, 0.294);
          box-shadow: -4px -4px 0 0 rgba(238, 192, 6, 0.294);
}

.navbar ul li {
  position: relative;

  display: flex;
  flex-grow: 1;
  height: 41px;

  line-height: 41px;

  background-color: #f5c506;

  transition: 0.5s linear;
}

.navbar a {
  display: flex;
  flex-grow: 1;    /* a расьет до разм li*/
  justify-content: flex-end;
  height: 41px;

  color: #9b7d08;
  text-decoration: none;

  border-right: 1px solid rgba(109, 74, 37, 0.145);
}

.one {
  flex-basis: 38%;
}

.two {
  flex-basis: 29%;
}

.three {
  flex-basis: 32%;
}

.about {
  padding: 0 13% 0 5%;
}

.serv {
  padding: 0 14% 0 5%;
}

.cont {
  padding: 0 14% 0 0;
}

.navbar li:hover {
  background: #382f10;
}

/* ==================================================== icons */

.about-us {
  margin: 11px 9px 0 0;
}

.services {
  margin: 11px 8px 0 0;
}

.contacts {
  margin: 11px 8px 0 0;
}

/*===================================================== main */

main {
  display: flex;
  flex-direction: column;
}

/* ==================================================== slider */

.slider {
  position: relative;

  display: flex;
  flex-direction: row;
  height: 397px;

  background-position: bottom;
  -webkit-box-shadow: inset 5px -20px 8px -19px rgba(68, 65, 65, 0.749);
     -moz-box-shadow: inset 5px -20px 8px -19px rgba(68, 65, 65, 0.749);
          box-shadow: inset 5px -20px 8px -19px rgba(68, 65, 65, 0.749);
}

.button1 {
  position: absolute;
  top: 33%;
  left: 0;

  transition: 0.5s linear;
}

.button2 {
  position: absolute;
  top: 33%;
  right: 0;

  transition: 0.5s linear;
}

.button1:hover {
  filter: brightness(30%);
}

.button2:hover {
  filter: brightness(30%);
}

.big-button {
  position: absolute;
  top: 128px;
  left: 393px;
  z-index: 2;

  width: 67px;
  height: 67px;

  background: url("assets/images/start_button.svg");
}

.little-button {
  position: absolute;
  top: 277px;
  left: 179px;
  z-index: 2;

  width: 27px;
  height: 27px;

  background: url("assets/images/little_start_button.svg");
}

.progress {
  position: absolute;
  top: 285px;
  left: 230px;
  z-index: 2;

  width: 404px;
  height: 12px;

  background: url("assets/images/progress_bar.svg");
}

.dinamiks {
  position: absolute;
  top: 285px;
  left: 666px;
  z-index: 2;

  width: 15px;
  height: 15px;

  background: url("assets/images/dinamiks.svg");
}

.big-video {
  position: relative;

  width: 549px;
  height: 327px;
}

/* ========================================================= */

.media {
  display: flex;
  flex-basis: 700px;
  justify-content: flex-end;
}

video[poster] {
  object-fit: cover;
}

.parrots {
  justify-content: flex-end;
}

.mediatext {
  position: relative;

  display: flex;
  flex-basis: 600px;
  flex-direction: column;
  justify-content: center;

  font-weight: 400;
  font-size: 63px;
  font-family: "Asap", sans-serif;
  color: #f5c506;
  text-transform: uppercase;
  letter-spacing: 0.63px;
}

p.first-str {
  position: absolute;
  top: 78px;
  left: 90px;
}

p.second-str {
  position: absolute;
  top: 155px;
  left: 50px;

  color: #ffffff;
}

/* ============================================== main after slider*/

/* ============================================== section 1 */

.section1 {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: center;
  height: 213px;

  font-weight: 300;
  font-size: 27px;
  font-family: "Segoe UI", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.27px;

  background: url("assets/images/section1.png");
}

.opacity1 {
  visibility: hidden;     /* background for section 1*/
}

.opacity2 {
  visibility: hidden;
}

.card {
  display: flex;
  flex-grow: 0;
  flex-basis: 26%;
  justify-content: center;
  align-items: center;
  height: 212px;

  border-collapse: collapse;

  border-left: 1px solid rgba(116, 116, 116, 0.396);
}
/* ========================= выравниваю карточки как в кривом макете */
.card1 img {
  padding: 0 8px 14px 1px;
}

.card2 img {
  padding: 0 1px 17px 24px;
}

.card3 img {
  padding: 2px 19px 6px 0;
}

.card1 figcaption {
  padding: 0 0 0 22px;

  font-weight: 300;
  font-size: 27px;
  letter-spacing: 0.27px;
}

.card2 figcaption {
  padding: 0 0 0 26px;

  font-weight: 300;
  font-size: 27px;
  letter-spacing: 0.27px;
}

.card3 figcaption {
  padding: 0 11px 0 0;

  font-weight: 300;
  font-size: 27px;
  letter-spacing: 0.27px;
}

.card:last-child {
  border-right: 1px solid rgba(116, 116, 116, 0.396);
}

.card figure {
  display: flex;
  flex-basis: 339px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 140px;
}

/* ========================================== section 2 */

.section2 {
  display: flex;
  flex-direction: column;
  height: 508px;

  background: url("assets/images/Yellow-layer.jpg");
  -webkit-box-shadow: inset 0 5px 5px -5px rgba(68, 65, 65, 0.749);
     -moz-box-shadow: inset 0 5px 5px -5px rgba(68, 65, 65, 0.749);
          box-shadow: inset 0 5px 5px -5px rgba(68, 65, 65, 0.749);
}

.section2 h3 {
  padding: 36px 143px;

  font-weight: 400;
  font-size: 37px;
  font-family: "PTSans", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.37px;
}

.mediacont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 140px;
}

.pair-square {
  display: flex;
}

.mediacont .text {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 340px;
  margin: 0;

  background: #ec9e03;
}

.mediacont p {
  padding: 17px 15px 0 29px;

  font-weight: 300;
  font-size: 29px;
  line-height: 38px;
  font-family: "Segoe WP Light", sans-serif;
  color: #ffffff;
  text-transform: none;
  letter-spacing: 0.29px;
}

.tweet {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 329px;
  height: 233px;

  background: #ec9e03;
}

.tweet-count {
  position: relative;

  width: 329px;
  height: 233px;
}

.tweet-count img {
  display: flex;
  width: 163px;
  margin: 0 auto;
  padding: 18% 0 0 0;
}

.tweet-count p {
  position: absolute;
  top: -8px;
  right: 3px;

  font-weight: 300;
  font-size: 25px;
  line-height: 38px;
  font-family: "Segoe WP", sans-serif;
  color: #ffffff;
  letter-spacing: 0.25px;
}

/* ============================================= mobile version form */

.twet-mesage-cont {
  display: none;
}

.twet-mesage-cont p {
  display: none;
}

.tweet-form {
  display: none;
}

input[type="text"] {
  display: none;
}

input[value="Tweet"] {
  display: none;
}
/* ============================================== mobile version form*/

.tweet-plus {
  position: absolute;
  right: 11px;
  bottom: 9px;
}

.tweet-plus:hover {
  filter: brightness(40%);
}

.date {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 113px;
  height: 86px;

  background: #ddb101;
}

.notimes {
  position: absolute;

  visibility: hidden;
}

p.count {
  padding: 14px 0 0 5px;

  font-weight: 700;
  font-size: 51px;
  line-height: 38px;
  font-family: "Segoe UI", sans-serif;
  color: #ffffff;
  letter-spacing: 0.51px;
}

p.month {
  padding: 9px 0 0 5px;

  font-weight: 400;
  font-size: 21px;
  line-height: 18px;
  font-family: "Segoe UI", sans-serif;
  color: #b26529;
  text-transform: uppercase;
  letter-spacing: 0.21px;
}

/* ============================================================ range */
input[type="range"] {
  width: 100%;
  height: 15px;
  margin: 43px 73px 0 73px;

  background: url("assets/images/Scroll1.png");
  border-radius: 15px;
  cursor: pointer;

  -webkit-appearance: none;
}


input[type="range"]::-webkit-slider-thumb {
  width: 197px;
  height: 15px;
  margin-top: 0;

  background: rgba(236, 158, 3, 0.96);
  border: 0 solid rgba(15, 0, 0, 0);
  border-radius: 15px;
  cursor: pointer;

  -webkit-appearance: none;
}

input[type="range"]::-moz-range-thumb {
  width: 197px;
  height: 15px;

  background: rgba(236, 158, 3, 0.96);
  border: 0 solid rgba(15, 0, 0, 0);
  border-radius: 15px;
  cursor: pointer;
}

/* =============================================================== */

.section3 {
  height: 497px;

  background: url("assets/images/Layer_Section_3.png");
  -webkit-box-shadow: inset 0 -3px 3px 0 rgba(0, 0, 0, 0.75);
     -moz-box-shadow: inset 0 -3px 3px 0 rgba(0, 0, 0, 0.75);
          box-shadow: inset 0 -3px 3px 0 rgba(0, 0, 0, 0.75);
}

.section3 h3 {
  padding: 43px 140px 9px 146px;

  font-weight: 400;
  font-size: 43px;
  font-family: "PTSans", sans-serif;
  text-align: center;
  color: #f5c506;
  text-transform: uppercase;
  letter-spacing: 0.43px;
}

.big {
  display: flex;
  justify-content: space-between;
  padding: 0 140px;
}

.gadgets {
  position: relative;

  padding: 43px 0 0 18px;
}

.gadgets svg {
  position: absolute;
  top: -1px;
  left: -3px;
}

.big aside {
  padding: 90px 0 50px 112px;
}

.big li {
  position: relative;

  padding-bottom: 19px;

  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
  font-family: "Open Sans", sans-serif;
  color: #a9a9a7;
  text-transform: none;
  letter-spacing: 0.22px;
}

li.firstli {
  padding: 0 0 0 0;
}

li.secondli {
  margin: 21px 0 0 0;
  padding: 0 0 0 1px;
}

li.thirdli {
  margin: 13px 0 0 0;
  padding: 0 0 0 0;
}

li.fourthli {
  margin: 13px 0 0 0;
  padding: 10px 0 0 1px;
}

.big li::before {
  content: url("assets/images/little_circle.svg");
  position: absolute;
  top: -1;
  left: -32px;
}

/* ================================================== footer */

footer {
  position: relative;

  display: flex;
  height: 64px;
  padding: 2px 10.7%;

  background: #4c4c4c;
}

footer img {
  margin: 4px 0 0 1px;
}

footer > p {
  margin: auto 0;
  padding: 1px 0 2px 6px;

  font-style: italic;
  font-size: 29px;
  font-family: "Lucida Sans", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.29px;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.42);
}


@media only screen and (max-width: 640px) {
  body {
    width: 640px;

    background: unset;
  }

  /* =================================================== header */

  .theyalow {
    display: flex;
    flex-direction: row;
    height: 62px;

    background: linear-gradient(to bottom, #707070 0%, #333333 100%);
  }

  .top-left {
    display: flex;
    flex-basis: 186px;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 12px;
  }

  .headline {
    padding: 5px 0 0 8px;

    font-style: italic;
    font-size: 19px;
    font-family: "Lucida Sans", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.41px;
    text-shadow: 1 2px 0 rgba(0, 0, 0, 0.42);
  }

  img[alt="logo"] {
    width: 38px;
    height: 38px;
    padding: 0 0 0 0;
  }

  /* ==================================================== navigation */

  .navbar {
    display: flex;
    align-self: center;
    width: 453px;
    height: 62px;

    font-weight: 400;
    font-size: 19px;
    font-family: "Segoe WP", sans-serif;
    color: #9b7d08;
    letter-spacing: 0.17px;

    background-color: none;
  }

  .navbar ul {
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-around;
    width: 453px;
    height: 62px;

    box-shadow: none;
  }

  .navbar ul li {
    display: flex;
    height: 62px;

    line-height: 62px;

    background-color: #f5c506;
  }

  .navbar a {
    display: flex;
    flex-grow: 1;    /* ankor grow for size li*/
    justify-content: center;
    height: 62px;

    color: #9b7d08;
    text-decoration: none;

    border-right: 1px solid rgba(109, 74, 37, 0.145);
  }

  .one {
    flex-basis: 38%;
  }

  .two {
    flex-basis: 29%;
  }

  .three {
    flex-basis: 32%;
  }

  .about {
    padding: 0 0 0 0;
  }

  .serv {
    padding: 0 0 0 0;
  }

  .cont {
    padding: 0 0 0 0;
  }

  .navbar li:hover {
    background: #382f10;
  }

  /* ==================================================== icons */

  .about-us {
    width: 24px;
    height: 22px;
    margin: 20px 10px 0 -1px;
  }

  .services {
    width: 22px;
    height: 22px;
    margin: 20px 7px 0 -9px;
  }

  .contacts {
    width: 28px;
    height: 21px;
    margin: 20px 11px 0 0;
  }

  /*===================================================== main */

  main {
    display: flex;
    flex-direction: column;
  }

  /* ==================================================== slider */

  .slider {
    position: relative;

    display: flex;
    flex-direction: row;
    height: 327px;

    background: url("assets/images/Layer_20.jpg");
    background-position: bottom;
    -webkit-box-shadow: inset 0 5px 5px -5px rgba(68, 65, 65, 0.749);
       -moz-box-shadow: inset 0 5px 5px -5px rgba(68, 65, 65, 0.749);
            box-shadow: inset 0 -2px 5px 0 rgba(68, 65, 65, 0.749);
  }

  .button1 {
    display: none;
  }

  .button2 {
    display: none;
  }

  .big-button {
    position: absolute;
    top: 130px;
    left: 295px;
    z-index: 2;

    width: 67px;
    height: 67px;

    background: url("assets/images/start_button.svg");
  }

  .little-button {
    position: absolute;
    top: 278px;
    left: 83px;
    z-index: 2;

    width: 27px;
    height: 27px;

    background: url("assets/images/little_start_button.svg");
  }

  .progress {
    position: absolute;
    top: 286px;
    left: 134px;
    z-index: 2;

    width: 404px;
    height: 12px;

    background: url("assets/images/progress_bar.svg");
  }

  .dinamiks {
    position: absolute;
    top: 286px;
    left: 569px;
    z-index: 2;

    width: 15px;
    height: 15px;

    background: url("assets/images/dinamiks.svg");
  }

  .big-video {
    width: 640px;
    height: 327px;
  }

  video[poster] {
    object-fit: scale-down;
  }
  /* ========================================================= */

  .media {
    display: flex;
    flex-basis: 700px;
    justify-content: flex-start;
  }

  .parrots {
    justify-content: flex-end;
  }

  .mediatext {
    display: none;
  }

  /* ============================================== main after slider*/
  /* ============================================== section 1 */

  .section1 {
    position: relative;

    display: flex;
    justify-content: space-around;
    height: 171px;

    font-weight: 300;
    font-size: 23px;
    font-family: "Segoe UI", sans-serif;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.23px;

    background: url("assets/images/section1.png");
  }

  .opacity1 {
    content: url("assets/images/section1opac.png");
    position: absolute;
    top: -10px;
    z-index: -1;

    width: 640px;
    height: 179px;

    visibility: visible;
  }


  .opacity2 {
    content: url("assets/images/section1opac.png");
    position: absolute;
    top: -5px;
    z-index: -1;

    width: 640px;
    height: 179px;

    visibility: visible;
  }

  .card {
    display: flex;
    height: 174px;

    border-left: none;
  }

  /* ========================= выравниваю карточки как в кривом макете */
  .card1 img {
    margin: 0 0 -3px 0;
    padding: 0 36px 21px 0;
  }

  .card2 img {
    padding: 0 1px 23px 17px;
  }

  .card3 img {
    padding: 3px 19px 16px 10px;
  }

  .card1 figcaption {
    margin: 0 -18px -1px -41px;
    padding: 0 0 0 4px;

    font-weight: 300;
    font-size: 23px;
    letter-spacing: 0.23px;
  }

  .card2 figcaption {
    margin: -7px 0 0 1px;
    padding: 0 0 0 21px;

    font-weight: 300;
    font-size: 23px;
    letter-spacing: 0.23px;
  }

  .card3 figcaption {
    padding: 0 3px 0 9px;

    font-weight: 300;
    font-size: 23px;
    letter-spacing: 0.23px;
  }

  /* ========================================================= */

  .card:last-child {
    border-right: none;
  }

  .card figure {
    flex-direction: column;
    height: 110px;
    padding: 0 0 10px 0;
  }

  .card img {
    width: 89px;
    height: 69px;
  }

  /* ========================================== section 2 */

  .section2 {
    flex-direction: column;
    height: 483px;

    background: #ffffff;
    box-shadow: initial;
  }

  .section2 h3 {
    display: none;
  }

  .mediacont {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;    /*ovelap desctope*/
  }

  .pair-square {
    width: 640px;
  }


  .mediacont .text {
    flex-basis: 299px;
    margin: 9px 4.5px 9px 9px;

    background: #ec9e03;
  }

  .mediacont p {
    padding: 15px 25px 0 26px;

    font-size: 29px;
    line-height: 33px;
    letter-spacing: 0.33px;
  }

  .mediacont video {
    margin: 9px 9px 9px 4.5px;
  }

  .tweet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 640px;
    height: 233px;

    background-color: #f5c507;
  }

  .tweet-count {
    margin: 0;
  }

  .tweet-count p {
    display: none;

    font-weight: 300;
    font-size: 25px;
    line-height: 38px;
    font-family: "Segoe WP Light", sans-serif;
    color: #ffffff;
    letter-spacing: 0.25px;
  }

  /* ============================================================ form */

  .twet-mesage-cont {
    display: flex;
    flex-basis: 323px;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
    margin: 0 0 -2px -11px;
    padding: 18px 17px 6px 0;
  }

  p.texts-twet {
    display: block;
    width: 270px;
    height: 28px;
    margin: -1px 0 0 3px;
    padding: 6px 0 8px 27px;

    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    font-family: "Arial MT", sans-serif;
    color: #8f8e8e;
    text-transform: none;
    letter-spacing: 0.13px;

    background: no-repeat url("assets/images/tweet-mesages.png");
  }

  p.opasity-tweet1 {
    opacity: 0.7;
  }

  p.opasity-tweet2 {
    opacity: 0.6;
  }

  .twet-mesage-cont span {
    display: inline-block;
    width: 238px;
  }

  .tweet-form {
    display: flex;
    justify-content: center;
  }

  input[type="text"] {
    display: block;
    width: 201px;
    height: 27px;

    background-color: #ffffff;
    border: 1px solid #d2900e;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-box-shadow: inset 3px 4px 5px rgba(0, 0, 0, 0.11);
       -moz-box-shadow: inset 3px 4px 5px rgba(0, 0, 0, 0.11);
            box-shadow: inset 3px 4px 5px rgba(0, 0, 0, 0.11);
  }

  input[value="Tweet"] {
    display: inline-block;
    width: 69px;
    height: 31px;
    padding: 3px 3px 0 0;

    font-weight: 400;
    font-size: 15px;
    font-family: "Arial MT", sans-serif;
    color: #ffffff;
    letter-spacing: 0.15px;

    background: linear-gradient(to bottom, #e9a825 0%, #d08e0b 100%);
    border: 0.5px solid  #d2900e;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    transition: 0.5s linear;
  }


  input[value="Tweet"]:hover {
    background: #382f10;
  }
  /* ============================================================ form */

  .tweet-plus {
    right: 11px;
    bottom: 14px;
  }

  .tweet .tweet-plus {
    display: none;
  }

  .date {
    display: none;
  }

  input[type="range"] {
    display: none;
  }

  /* ======================================================== section 3*/

  .section3 {
    height: 467px;

    background: #474747;
    -webkit-box-shadow: inset 0 -3px 3px 0 rgba(0, 0, 0, 0.75);
       -moz-box-shadow: inset 0 -3px 3px 0 rgba(0, 0, 0, 0.75);
            box-shadow: inset 0 -3px 3px 0 rgba(0, 0, 0, 0.75);
  }

  .section3 h3 {
    padding: 38px 21px 21px 9px;

    font-weight: 400;
    font-size: 39px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: #f5c506;
    text-transform: uppercase;
    letter-spacing: 0.39px;
  }

  .big {
    display: flex;
    justify-content: space-between;
    padding: 0 27px;
  }

  .gadgets {
    position: relative;

    padding: 60px 0 0 29px;
  }

  .gadgets svg {
    position: absolute;
    top: 20px;
    left: -1px;
  }

  .big aside {
    display: none;
  }

  /* ========================================================= footer */

  footer {
    display: flex;
    height: 44px;
    padding: 0 10.2%;

    background: #4c4c4c;
  }

  footer img {
    width: 31px;
    height: 31px;
    margin: auto 0;
  }

  footer p {
    padding: 1px 0 2px 6px;

    font-style: italic;
    font-size: 17px;
    font-family: "Lucida Sans", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.29px;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.42);
  }
}
